server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/issue_tracker
    username: postgres
    password: 1903

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false
